html, body {
  font-family: 'Barlow', sans-serif;
  background-color: #12212e;
  color: #fff;
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  color: #f7941d;
}

a:hover {
  color: #cb7d20;
}

p {
  margin: 3rem 0;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body .container {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(18, 33, 46, 0.5);
  z-index: 1;
  overflow: hidden;
}

.content {
  margin: 4rem auto 4rem auto;
  text-align: center;
  max-width: 800px;
  font-size: 18px;
  line-height: 32px;
  overflow: hidden;
}

.content p {
  text-shadow: 0px 1px 12px rgba(0, 0, 0, 1.0);
}

.footer {
  font-size: 14px;
  padding-top: 1rem;
  color: #f7941d;
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  overflow: hidden;
}

.logo {
  max-width: 400px;
  display: block;
  margin: 8rem auto 4rem auto;
  padding: 0 1rem;
}

@media screen and (min-height: 1024px) {
  html, body {
    height: 100%;
  }
}

@media screen and (max-width: 525px) {
  .background-overlay {
    background-color: rgba(18, 33, 46, 0.7);
  }
  .logo {
    max-width: 350px;
    width: 100%;
    margin: 2rem auto 4rem auto;
  }
  .content {
    font-size: 16px;
    line-height: 28px;
  }
}
